.page12345 {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #000000;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 200%;
}

.BulletinBoardWritingUpper {
    display: flex;
    min-height: 11vh;
    align-items: flex-end; /* 요소를 수직 중앙에 정렬 */
}

.BulletinBoardWritingUpperLeft {
    flex: 1;
    padding-left: 15%;
}

.BulletinBoardWritingUpperRight {
    padding-right: 15%;
    margin-right: auto;
}

.BulletinBoardSecretButton,
.BulletinBoardImageButton {
    display: flex;
    width: 120px;
    height: 43px;
    background: black;
    border-radius: 10px;
    border: 0.50px white solid;  
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.BulletinBoardSecretButton {
    margin-right: 10%;
}

.BulletinBoardImageWord {
    color: white;
    font-size: 17px;
    font-weight: 400;
    width:55px;
    margin-bottom: 3%;
}

.BulletinBoardImageCheckbox {
    width: 20px;
    height: 20px;
    margin-bottom: 4%;
}

.BulletinBoardWritingUpperRight {
    padding-right: 15%;
    display: flex;
}

.BulletinBoardWritingMiddle {
    padding-right: 15%;
    padding-left: 15%;
    flex-direction: column;
}

.BulletinBoardWritingBottom {
    display: flex;
    margin-top: 0.5%;
    margin-bottom: 8vh;
    flex-direction: column;
}

.BulletinBoardWritingImage {
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    background-color: white;
    width: 70%;
    display: flex;
}

.BulletinBoardWritingImage img{
    width: 10%;
    height: 20vh;
    object-fit: cover;
    flex : 1;
    margin: 1%;
}

.BulletinBoardWritingImage123 {
    background-color: white;
    display: flex;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.BulletinBoardWritingImage123 img{
    width: 10%;
    height: 20vh;
    object-fit: cover;
    flex : 1;
    margin: 1%;
}

.BulletinBoardWritingContentsWrap {
    /* background-color: aqua; */
    padding-bottom: 1%;
    display: flex;
}

.inputWritingContents {
    /* display: block;
    width: 96.5%;
    min-height: 52vh;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 1.5%;
    padding-top: 1%;
    font-family: 'Inter';
    border: 'none';
    outline: 'none';
    box-shadow: 'none';
    resize: none;
    background-color: aqua; */

    margin-top: 1%;
    display: block;
    width: 87%;
    min-height: 7vh;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 1.5%;
    padding-top: 1%;
    font-family: 'Inter';
    border: 'none';
    outline: 'none';
    box-shadow: 'none';
    resize: none;
    padding-left: 1%;
}

.BulletinBoardWritingFileBottomLine {
    width: 70%;
    height: 0.01px;
    border: 1.5px rgba(255, 255, 255, 0.5) solid;    
    margin-top: 0.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6%;
}

.BulletinBoardWritingTitleWrap {
    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.BulletinBoardWritingTitleInput {
    width: 96%;
    height: 5vh;
    margin-left: 1.5%;
    outline: none;
   border: none;
    font-size: 16px;
   font-weight: 400;
    /* background-color: aqua; */
}
.BulletinBoardShortLine {
    width: 99.5%;
    height: 0.01px;
    border: 1.5px rgba(255, 255, 255, 0.5) solid;    
    margin-left: auto;


    margin-right: auto;
}

.lockIcon {
    margin-right: 2.5px;
}

.BulletinBoardWritingButton {
    width: 105px;
    height: 40px;
    background: black;
    border-radius: 10px;
    border: 0.50px white solid;  
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 300;
    padding-bottom: 0.15%;
    margin-left: auto;
}

.BulletinBoardWritingCancelButton {
    width: 105px;
    height: 40px;
    background-color: #919191;
    border-radius: 10px;
    border: 0.50px white solid;  
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 300;
    padding-bottom: 0.15%;
    margin-right: auto;
    margin-left: 2%;
}

.BulletinBoardWritingButtonWrap {
    display: flex;
}