.passwordSearchWrap {
    height: 30%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
}

.inputWrapEmailPasswordSearchWrap123 {
    width: 99%;
    height: 19.9%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: 1px solid #e2e0e0;
    margin-top: 8%;
    display: flex;
    background-color: white;
}

.bottomPasswordSearchButton123    {
    width: 99%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    background: black;
    border-radius: 10px;
    border: 0.50px white solid;  
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 8.3%;
    justify-content: center;
    align-items: center; 
}

.bottomPasswordSearchButton123:disabled {
    background-color: #919191;
    color:white;
}